
<h4 class='pl-3'>Album: {{album?.title}}</h4>

<div class="row card-group" *ngIf='album'>

    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor='let picture of paginator'>
        <div class="card-body">

            <img class="card-img-top rounded img-fluid"
                [src]='picture.thumbnailUrl'
                [title]='picture.title'
            >

            <div class="text-center form-group">
                <a class="btn btn-primary" [routerLink]="['/pictures/details', picture.id]"> 
                    Details
                </a>
                <a class="btn btn-primary m-2" [routerLink]="['/pictures/edit', picture.id]">
                   Edit
                </a>
            </div>

        </div>

    </div>

</div>

<jw-pagination [items]="album.pictures" [pageSize]="20" (changePage)="onChangePage($event)"></jw-pagination>
