<form #form="ngForm">
<div class="card mt-3 bg-light" *ngIf='picture'>

    <div class="card-header">
        <h3>{{picture.id ? 'Edit' : 'Upload'}} Picture</h3>
    </div>

    <div class="card-body">

        <div class="form-group">
            <label class="font-weight-bold">Picture Title*</label>
            <em *ngIf="form.controls.title?.invalid && 
                       (form.controls.title?.touched || mouseOverSave)">Requared</em>
            <input class="form-control" name="title" required [(ngModel)]="picture.title">
        </div>
        
        <div class="form-group">
            <label for="album" class='font-weight-bold'>Select Album</label>
            <select name="album" id="album" [(ngModel)]="picture.albumId" class="form-control">
                <option *ngFor="let album of albums" [value]="album.id">
                    {{album.title}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="url" class='font-weight-bold'>{{picture.id ? 'Upload New' : 'Select '}} Picture</label>
            <div class="custom-file">
                <input id="url" type="file" accept='image/*' #file class="custom-file-input form-control" name="url"
                (change)="onFileSelect(file.files)" (ngModel)="picture.url"/>
                <label class="custom-file-label">{{selectedFile}}</label>
            </div>
        </div>

        <div class="form-group" *ngIf='picture.url'>
            <button class="btn btn-primary"(click)="showHidePreview()">{{toggleImage ? 'Hide ' : 'Show '}} Preview</button>
        </div>
        <div class="text-center"> 
            <img *ngIf='toggleImage'
            [src]='picture.url' 
            [style.width.px]='picWidth'
            [style.height.px]='picHeight'>
        </div>

    </div>

    <div class="card-footer">
        <span (mouseenter)="mouseOverSave=true" (mouseleave)="mouseOverSave=false">
         <button type="submit" [disabled]="form.invalid" class="btn btn-primary m-1" (click)="editPicture()">Save</button>
        </span>
        <button class="btn btn-primary m-1" (click)="clickBack()">Back</button>
    </div>

</div>
</form>
