<div class="row">
    <div class="col-sm-10">
        <div class="input-group mt-3">
            <input type="text" class="form-control" [(ngModel)]='albumList' placeholder="Search Album">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Seacrh</button>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <a class="btn  btn-primary mt-3" [routerLink]="['/album/edit']">Create Album</a>
    </div>
</div>

<div class="row card-group">

    <div class="col-lg-4 col-md-6 col-sm-6 mt-3" *ngFor='let album of filteredAlbums'>

        <div class="card-header font-weight-bold text-center">
            {{album.title}}
        </div>

        <div class="card-footer text-center">
            <a class="btn btn-primary m-1" [routerLink]="['/albums', album.id]">View Pictures</a>
            <a class="btn btn-secondary m-1" [routerLink]="['/album/edit', album.id]">Edit</a>
            <button class="btn btn-danger" (click)="openModal(template)">
                Delete
            </button>
        </div>
        
        <ng-template #template>
            <div class="modal-header">
                <h4>Delete Confirmation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to Delete The Album ? 
                </p>
                <p><span class="font-weight-bold">Notice:</span> Deleting the Album will delete All pictures assosiated with the Album !!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modalRef.hide()">
                    Cancel
                </button>
                <button class="btn btn-danger" type="button" (click)="deleteAlbum(album.id)">
                    Delete
                </button>
            </div>
        
        </ng-template>

    </div>

</div>

